
<div ng-controller="mainController">
    <h1>Add Todo</h1>
    <label>TodoText</label>
    <br />
    <br />
    <input type="text" value="Task Name" required ng-model="newTodoText"/>
    
    <br />
    <br />
    <label>TodoNote</label>
    <br />
    
    <textarea cols="50" rows="10" required ng-model="newTodoNote"></textarea>
    <br />
    <br />
    <a href="" class="btn btn-primary" ng-click="addTodo()">Add</a>
    <h1>ToDoList</h1>
    <table class="table table-striped">
        <tr ng-repeat="Todos in TodoList">
            <td>{{Todos.TodoText}}</td>
            <td>{{Todos.TodoNote}}</td>
            <td>{{Todos.Priority}}</td>
            <td>{{Todos.TodoDate | date: mediumDate}}</td>
            <td class="text-right">
                <button class="btn btn-danger"  ng-click="deleteTodo(Todos)">X</button>
            </td>
        </tr>
    </table>
</div>