<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="CSharp_DbContext_Context_EF5"
         connectionString="server=8b8171a6-4e1e-487b-95f7-a5ef00b88e2f.mysql.sequelizer.com;database=db8b8171a64e1e487b95f7a5ef00b88e2f;uid=kvvofslshjckkwiv;pwd=KFUPqJr2c3PpfH5mhZgkpFx8xz7ZUcBKSJv8TWxXG8EubnKRz4qEViJdhUrYKyg8" />
  </connectionStrings>
</configuration>