<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoEntities"
         connectionString="server=1dc01d47-e5fb-4c00-8760-a5ef0177c06d.mysql.sequelizer.com;database=db1dc01d47e5fb4c008760a5ef0177c06d;uid=gurgbtzifnabqsuf;pwd=6THAhhweJPGN4MuLpT8fjJefBTXiQhN5yAzaRxThzJNwmpzGkvV2TQduNC7wrowA" />
  </connectionStrings>
</configuration>