<!-- Web.Config Configuration File -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Views\Home\Index.cshtml" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="tododbEntities" connectionString="metadata=res://*/Models.TodoModel.csdl|res://*/Models.TodoModel.ssdl|res://*/Models.TodoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=842908de-75b2-4281-868e-a5f201681646.mysql.sequelizer.com;database=db842908de75b24281868ea5f201681646;uid=ejiqonznadiqgfgq;pwd=E5WikmYM5vScETPYQ2HuNCstS3fMPwjaEpysQ6k7ENRmV2bqAC6wM3acKBxrgk6G&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>