<br />
<br />
<br />
<input type="text"   />
<a href="" class="btn btn-primary">serch</a>
<a href="" class="btn btn-primary">Reset</a>
<br />
<br />
<ng-view>


</ng-view>
<br />
<br />
<br />
<br />
<br />